body{
    font-family: roboto;
}

h1{
    background: #2980b9;
    color: #ffffff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}
#container{
    width: 360px;
    box-shadow: 0 0 3px rgba(100, 0, 0, 0.1);
    margin: 80px auto;
    background-color: #f7f7f7;
}
.completed{
    color: gray;
    text-decoration: line-through;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    background: #FFF;
    height: 40px;
    line-height: 40px;
    color: #666;
}
li:nth-child(2n){
    background: #f7f7f7;
}
input{
    font-size: 18px;
    background-color: #f7f7f7;
    color: #2890b9;
    width: 100%;
    padding: 13px 13px 13px 13px;
    box-sizing: border-box;
}
input:focus{
    background: #FFF;
    border: 3px solid #2890b9;
    outline: none;

}
.fa-plus{
    float: right;
}
span{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
} 
/* media query */
@media screen and (min-width:375px){
    h1{
        font-size: xx-large;
        font-weight: bold;
    }
    #container{
        width: 550px;
        height: auto;
        margin: 50px auto;
        font-size: 2rem;  
    }  
}